<div class="reset-password-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="reset-password-full-width">
          <input matInput placeholder="email" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
            <span *ngIf="email.hasError('required')">
              Please enter an email
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid email
            </span>
          </span>
        </mat-form-field>
        <br>
      </mat-card-content>
      <button [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </mat-card>
</div>
