<div *ngIf="successful === AnswerSuccess.success" id="success-box">
  <form class="quiz-form" [formGroup]="dialogBox" (ngSubmit)="onNoClick()">
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message">
      <h1 class="alert">Awesome!</h1>
      <p>PERFECT percentage guess!!</p>
      <p>Your answer was: {{ percentage }}%</p>
      <p>The cover estimate percentage is: {{ correctPercentage }}%</p>

      <button mat-button type="submit" cdkFocusInitial>Next Image</button>
    </div>
  </form>
</div>
<div *ngIf="successful === AnswerSuccess.close" id="almost-box">
  <form class="quiz-form" [formGroup]="dialogBox" (ngSubmit)="onNoClick()">
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message">
      <h1 class="alert">So close!</h1>
      <p>So close!</p>
      <p>Your answer was: {{ percentage }}%</p>
      <p>The cover estimate percentage is: {{ correctPercentage }}%</p>

      <button mat-button type="submit" cdkFocusInitial>Next Image</button>
    </div>
  </form>
</div>
<div *ngIf="successful === AnswerSuccess.far" id="error-box">
  <form class="quiz-form" [formGroup]="dialogBox" (ngSubmit)="onNoClick()">
    <div class="face2">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth sad"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message">
      <h1 class="alert">Whoops!</h1>
      <p>That is not the right answer</p>
      <p>Your answer was: {{ percentage }}%</p>
      <p>The cover estimate percentage is: {{ correctPercentage }}%</p>

      <button mat-button type="submit" cdkFocusInitial>Next Image</button>
    </div>
  </form>
</div>
