@font-face {
    font-family: "Palmsprings";
    src: local("Palmsprings"), url(../../../assets/fonts/PalmspringsPersonalUseRegular-d9VDV.ttf) format("truetype");
}

.logo{
  font-family: "Palmsprings", sans-serif;
  font-size: 40px;
    margin-right: 40px;
}
.nav-tool-items{
  width: 100%;
}

.app-header{
  color: #449DD1;
}

a{
  margin: 10px;
}

.mat-button{
  background-color: #192BC2;
}
.secret{
  float: right;
}
.secret img{
  height: 30px;
  width: 30px;
  padding-top: 5px;
}

