<div class="experience-wrapper">
  <div id="Header">
    <div class="wrapper">
      <span class="header-home">Coverater</span>
    </div>
  </div>
  <div class="row-div" fxLayout="row" fxLayoutAlign="center center">
    <div class="acknowledgement-body">
      <h2 style="color: white;">How many cover quadrats have you estimated throughout your career?</h2>
<form class="exp-form" [formGroup]="quadratsControl" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Please select one of the following:</mat-label>
        <mat-select formControlName="quadrat" required (selectionChange)="onBookChange()">
          <mat-option *ngFor="let quadrat of quadrats" [value]="quadrat">
            {{ quadrat }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="quadrat.hasError('required')">Please choose an option</mat-error>
      </mat-form-field>
      <br>
      <button mat-button mat-raised-button type="submit">
        Submit
      </button>
    </form>
    </div>

  </div>
</div>
